.ServiceBlock {
    padding: 15px;

    

    img {
        width: 100%;
        border-radius: 5px;
    }

    h3 {
        margin-top: 20px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 1vw;
        font-weight: 500;
        color: rgb(12, 12, 12);
    } 
}

