.slider {
    position: relative;

    img {
        padding: 50px;
    }

    .text {
        font-family: 'Roboto', sans-serif;
        position: absolute;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin-left: auto;
        right: 50px;
        height: 100%;
        padding-top: 27px;
    }

    button {
        background-color: azure;
        border-radius: 15px;
    }
}