@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
  background-color: #33deff;
  background: linear-gradient(0deg, #1f52b1, #33deff) no-repeat;
}

a {
  text-decoration: none;
}

