.slide {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: column;

    

    .div1 { 
        flex: 1;
        img {
            object-fit: cover;
            min-width: none;
            width: 100%;
            border-radius: 20px;
        } 
    } 

    

    .div2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        gap: 10px;

        h1 {
            font-size: 28px;
            padding: 0;
            margin-top: auto;
            margin-bottom: 20px;
        }

        .boxButton {
            width: 100%;
            margin-top: 40px;
            max-width: 275px;

            a {
            width: calc(100% - 64px);
            display: block;
            background: none;
            border-radius: 10px;
            border: solid 1px;
            color: rgb(0, 0, 0);
            padding: 15px 32px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            transition: all .1s ease-in-out;
            }

            a:hover {
                background-color: #6CF;
                color: white;
                border-color: white;
            }    
        }
    }
    
    

    @media screen and (min-width: 1000px) {
        flex-direction: row;

        .div1 {
            height: 100%;
            max-height: 358px;
            min-width: 580px;

            img {
                height: 100%;
                max-height: 358px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        position: relative;
        padding: 25px;
        gap: 10px;
        
        .div1 {
            img {
                height: 100%;
            }
        }

        .div2 {
            gap: 10px;
            h1 {
                font-size: 24px;
                margin: 0;
            }
            .boxText{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
            }
    
            .text {
                margin: 0;
            }
    
            .boxButton {
                margin: 0;
            }
        }
    }

    @media screen and (max-width: 400px) {
        .div2 {
            text-align: center;
            font-size: 12px;

            h1 {
                font-size: 24px;
            }
        }
    }

    

    @media screen and (max-height: 500px) {
        position: relative;

        .div2 {
            width: calc(100% - 130px);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px;
            border-radius: 10px;
            position: absolute;
            text-align: center;
            font-size: 13px;
            color: #ffff;
            bottom: 50px;
            gap: 10px;

            @media screen and (max-width: 600px) {
                width: calc(100% - 80px);
                bottom: 25px;
            }
            
            h1 {
                font-size: 25px;
                margin: 0;
            }

            .text {
                margin: 0;
            }

            .boxButton {
                margin: 0;
            }

            a.button {
                color: #000;
                background-color: #ffffff;
                border: none;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.5);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.5);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.5);
            }

            a.button:hover {
                background-color: #ffffff;
                color: #000;
            }
        }
    }

    @media screen and (max-height: 700px) {
        padding: 25px;

        img {
            max-height: 300px;
        }

        .div2 {
            width: calc(100% - 80px);
            gap: 10px;
            bottom: 20px;
        }
    }

    @media screen and (max-height: 370px) {
        img {
            max-height: 250px;
        }
    }
}