.slide {
    text-align: center;

    position: relative;

    img {
        width: 700px;
        padding: 50px 50px 50px 0;
    }

    .text {
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        text-align: start;
        vertical-align: top;
        margin-left: auto;
        right: 70px;
        height: 100%;
        padding-top: 27px;

        h1 {
            text-align: start;
        }
    }

    button {
        margin-top: 40px;
        background: none;
        border-radius: 10px;
        border: solid 1px;
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        transition: all .1s ease-in-out;
    }

    button:hover {
        background-color: #6CF;
        color: white;
        border-color: white;
    }

    a {
        opacity: 100%;
    }

    a:hover {
        opacity: 100%;
    }
}